@import '../../styles/color.scss';

button {
    line-height: 40px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;

    &:hover {
        opacity: 0.9;
    }
}

.filled {
    background-color: $primary;
    color: $white;
    border: none;
}

.outlined {
    background: none;
    border: none;
    color: $primary;

    &:hover {
        background-color: #880e4f18;
    }
}