node_modules
.env
.tool-versions
coverage
dist
/cypress
new_user_credentials.csv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
aws-services
