$white: #fff;
$black: #000;
$background: #f2f2f2;
$disabledBackground: #CCC;
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #bc477b;
$disabledColor: #666;
$spacing-lg: 40px;
$valid: green;
$invalid: red;