@import '../styles/color.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type='password'],
input[type='email'],
input[type='text'] {
    border: 1px solid $primaryLight;
    line-height: 40px;
    border-radius: 6px;
    width: 100%;
    padding: 0 12px;

    &:focus {
        outline-color: $primaryLight;
    }
}