@import '../../styles/color.scss';

.signupWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .form {
        display: flex;
        align-items: center;
        flex-direction: column;        
        margin: 60px auto 0 auto;
        width: 380px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.17);
        padding: 32px;
        border-radius: 8px;
        
        .formHeader {
            font-size: 18px;
            color: $primary;
            line-height: 20px;
            margin-bottom: 12px;
        }
    }

    .buttonContainer {
        width: 100%;
        display: grid;
        place-items: center;
        gap: 12px;
        margin-top: 24px;
    }
}