@import "../../../../styles/color.scss";

.surveyItemWrap {
  flex-basis: 48%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;

  .surveyContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 16px 0 24px;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)),
      linear-gradient(to right, rgba($white, 0.1), rgba($white, 0.1));
    background-position: 0 0, 54px 0;
    background-size: 50px 100%, 100%;
    position: relative;
    border-radius: 8px 8px 0 0;

    p {
      font-size: 16px;
      font-weight: bold;
      flex-grow: 1;
    }
  }

  footer {
    background-color: $primary;
    color: $white;
    line-height: 40px;
    text-transform: lowercase;
    text-align: center;
    cursor: pointer;
    border-radius: 0 0 8px 8px;

    &:hover {
      background-color: $primaryDark;
    }
  }
}

.iconWrap {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 10px;
}